/* Write your CSS code here */
.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  font-size: 20px;
  color: red;
  font-weight: bold;
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 400px;
  padding: 30px;
}
.input-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.input-label {
  color: #475569;
  font-size: 10px;
}
.firstName-input-filed {
  color: #64748b;
  width: 100%;
  height: 30px;
  margin-bottom: 5px;
  padding: 5px;
}
.lastName-input-filed {
  color: #64748b;
  width: 100%;
  height: 30px;
  margin-bottom: 5px;
  padding: 5px;
}
.submit-button {
  background-color: red;
  color: white;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  align-self: center;
}
.error-message {
  color: red;
  font-size: 10px;
}
.successful-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  padding: 30px;
}
.success-img {
  height: 50px;
  width: 50px;
}
.success-heading {
  font-size: 15px;
}
.submit-another-response-button {
  background-color: red;
  color: white;
  border-radius: 5px;
  width: 90%;
  height: 30px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .form-container {
    box-shadow: 0px 4px 16px 0px #bfbfbf;
  }
  .successful-container {
    box-shadow: 0px 4px 16px 0px #bfbfbf;
  }
  .success-img {
    height: 100px;
    width: 100px;
  }
  .submit-another-response-button {
    width: 200px;
  }
}
